.cardProduct{
    height: auto;
    border: 1px solid grey;
    border-radius: 10px;
}

img{
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 16/9;
}
h5, p{
    color: white;
}

.line{
    border-top: 1px solid white;
    width: 40%;
}