.cardProduct{
    height: 60%;
    border: 1px solid grey;
    border-radius: 10px;
}

.cardImg{
    width: 100%;
    height: 75%;
    object-fit: cover; 
    border-radius: 10px 10px 0px 0px;
}

h5, p{
    color: white;
}

.description{
    font-size: 12px;
    
}



